@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --main-color:#06327d;
  --style-color: #ffffff;
  --font:"Poppins", sans-serif;
}

body {
  font-family: var(--font);
  font-size: 1.125rem;
  line-height: 1.5;
  background-color: var(--main-color);
}

.body-container {
  max-width: 1200px;
  padding: 2rem;
  margin: 0 auto;
}

.img {
  max-width: 100%;
}

header {
  background: var(--main-color);
  border-bottom: 1rem solid #ffd034;
}

 nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
  }

nav {
  font-family: var(--font);
  font-size: 1.3rem;
  line-height: 1.1667;
  text-transform: uppercase;
  font-weight: normal;
  padding-bottom: rem;
/*   display: none; */
} 

nav a {
  text-decoration: none;
  font-size: 1.3rem;
  color: var(--style-color);
}

   .logo {
    display: flex;
    justify-content: center;
  }

h1 {
  font-family: var(--font);
  font-size: 3rem;
  line-height: 1.1667;
  text-transform: uppercase;
  font-weight: normal;
  margin: none;
  color: var(--style-color);
  padding-left: 0.5rem;
  padding-top: 1.1rem;
}

h2 {
  font-family: var(--font);
  font-size: 2.5rem;
  line-height: 1.1667;
  text-transform: uppercase;
  font-weight: normal;
}

h3 {
   font-family: var(--font);
  font-size: 1.75rem;
  line-height: 1.1667;
  font-weight: normal;
}

a {
  border: none;
  border-radius: 10px;
  color: white;
  padding: 0.6rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-family: var(--font);
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 1px;
}

.button1 {
  background-color: #04aa6d;
}

.button {
  background-color: var(--main-color);
}

.opening {
  background: var(--style-color);
   display: grid;
   grid-template-columns: 1fr 1fr; 
}

.opening img {
  width: 95%;
} 

 section {
    background:  #cadbf8;
}

.grid-container img {
    border-radius: 20px;
    margin: 1.5rem;
    max-width: 90%;
  }

footer {
    background: var(--main-color);
    border-top: 1rem solid #ffd034;
    color: var(--style-color);
   padding: 2rem;
   text-align: center;
 }

@media (min-width: 1000px) {

  header {
    display: flex; 
    justify-content: space-around;
    padding-right: 3rem;
  }
    .logo { 
      margin-bottom: 1rem;
    }

  nav ul {
    display: flex;
    justify-content: end;
    list-style: none;
    margin-top: 4.5rem;
  }

  .coffee h2  {
    margin-top: 15rem;
      }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap:15px;
  }
 
  .burger {
    display: none;
  }
  
  }

@media (min-width: 650px) {
 .grid-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap:15px;
    padding: 1.5rem;
  }

  section {
    padding: 1.5rem
  }
  
  .burger {
    display: none;
  }
}

@media (max-width: 649px) {
 .opening img {
    padding: 3rem 2rem;
    width: 85%;
  }

  .grid-container {
    background: #cadbf8;
  }

   .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .grid-container h2 {
   padding-left: 2rem;
   padding-top: 2rem;
  }

  .grid-container h3 {
    padding-left: 1rem;
   padding-top: 3rem;
  }

  .grid-container p {
    padding-left: 2.2rem;
  }

  section {
    padding: 1.5rem;
  }
 
  .mobile-menu-wrapper {
  display: flex;
} 

.bar-nav {
/*     margin: 0; */
    background: #06327C;
    position: absolute; 
    right: -100%;
    width: 50%;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    padding: 0; 
    transition: all 400ms;
    top: 100px;
    text-align: center;
   }

.nav-active {
  right: 0;
  }
 
.btn {
  display: flex;
  justify-content: end; 
  }

  .burger {
   background:  #06327C;
   border: 1px solid #ffffff;
   color: #ffffff;
   padding:  .7rem;
  }
}

